html { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { margin: 0; font-size: 1.4rem; line-height: 1.5; color: #333333; background-color: white; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* ------------------------------ */
/* line 6, ../sass/common.scss */
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

/* line 7, ../sass/common.scss */
.clearfix {
  *zoom: 1;
}

/* line 9, ../sass/common.scss */
.wrap {
  background-color: #fff;
  min-width: 320px;
}

/* line 1, ../sass/header.scss */
.header {
  background-color: #0fd7ba;
}

/* line 5, ../sass/header.scss */
.header_search {
  display: none;
  height: 28px;
  padding: 11px 10px;
}
/* line 10, ../sass/header.scss */
.header_search form {
  position: relative;
  width: 210px;
  margin: 0 auto;
}

/* line 17, ../sass/header.scss */
.header_search_text {
  width: 160px;
  height: 26px;
  padding: 0 40px 0 10px;
  border: 1px solid #87ebdd;
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 28, ../sass/header.scss */
.header_search_text::-webkit-input-placeholder {
  color: #87ebdd;
}

/* line 33, ../sass/header.scss */
.header_search_submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 28px;
  text-indent: -9999px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  
  background-size: 15px 15px;
}

/* line 49, ../sass/header.scss */
.header_main {
  padding: 0 10px;
  height: 60px;
  overflow: hidden;
}

/* line 55, ../sass/header.scss */
.header_main_logo {
  float: left;
  display: block;
  width: 150px;
  height: 30px;
  padding: 15px 0;
}
/* line 61, ../sass/header.scss */
.header_main_logo img {
  display: block;
}

/* line 67, ../sass/header.scss */
.header_main_searchBtn,
.header_main_navBtn {
  float: right;
  display: block;
  width: 38px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 76, ../sass/header.scss */
.header_main_searchBtn {
  
  background-size: 20px auto;
}

/* line 81, ../sass/header.scss */
.header_main_navBtn {
  
  background-size: 24px auto;
}

/* line 86, ../sass/header.scss */
.header_nav {
  display: none;
  background-color: #111;
  padding: 10px;
}
/* line 91, ../sass/header.scss */
.header_nav ul {
  overflow: hidden;
}
/* line 95, ../sass/header.scss */
.header_nav li {
  float: left;
  width: 24.9%;
  text-align: center;
}
/* line 101, ../sass/header.scss */
.header_nav a {
  display: block;
  line-height: 34px;
  color: #0fd7ba;
  font-size: 16px;
}

/* line 1, ../sass/footer.scss */
.footer {
  background-color: #181818;
  color: #5e5e5e;
  text-align: center;
  font-size: 12px;
}

/* line 10, ../sass/footer.scss */
.footer_about {
  padding: 20px;
}
/* line 12, ../sass/footer.scss */
.footer_about a {
  color: #5e5e5e;
}

/* line 17, ../sass/footer.scss */
.footer_about_logo {
  padding-top: 10px;
}
/* line 20, ../sass/footer.scss */
.footer_about_logo img {
  margin: 0 10px;
  width: 65px;
  height: 20px;
}

/* line 1, ../sass/mod/base.scss */
.mod {
  overflow: hidden;
}

/* line 5, ../sass/mod/base.scss */
.borderTop {
  border-top: 1px solid #f0f0f0;
}

/* line 9, ../sass/mod/base.scss */
.borderBottom {
  border-bottom: 1px solid #f0f0f0;
}

/* line 1, ../sass/mod/header.scss */
.mod_header {
  height: 37px;
  line-height: 37px;
  border-bottom: 1px solid #f0f0f0;
}

/* line 7, ../sass/mod/header.scss */
.mod_header_title {
  float: left;
  position: relative;
  height: 38px;
  padding: 0 10px;
  margin-bottom: -1px;
  font-size: 14px;
  color: #fff;
  background-color: #0fd7ba;
}

/* line 18, ../sass/mod/header.scss */
.mod_header_title:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border-top: 38px solid #0fd7ba;
  border-right: 26px solid transparent;
}

/* line 31, ../sass/mod/header.scss */
.mod_header.redTeam .mod_header_title {
  background-color: #f4253e;
}
/* line 34, ../sass/mod/header.scss */
.mod_header.redTeam .mod_header_title:after {
  border-top: 37px solid #f4253e;
}

/* line 40, ../sass/mod/header.scss */
.mod_header_more {
  float: right;
  margin-right: 10px;
  padding-right: 24px;
  
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: right 11px;
  color: #999999;
}

/* line 51, ../sass/mod/header.scss */
.mod_headerKid {
  height: 17px;
  line-height: 17px;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
  overflow: hidden;
}

/* line 59, ../sass/mod/header.scss */
.mod_headerKid_title {
  color: #0fd7ba;
  padding-left: 6px;
  border-left: 3px solid #0fd7ba;
}

/* line 2, ../sass/mod/txtList.scss */
.mod_txtList li {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}
/* line 9, ../sass/mod/txtList.scss */
.mod_txtList li:last-child {
  margin-bottom: -1px;
}
/* line 13, ../sass/mod/txtList.scss */
.mod_txtList a {
  display: block;
  padding: 0 10px 0 10px;
  color: #333333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 20, ../sass/mod/txtList.scss */
.mod_txtList a:before {
  content: "";
  display: block;
  float: right;
  width: 9px;
  height: 15px;
  margin-left: 4px;
  margin-top: 14px;
  
  background-size: 9px 15px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 2, ../sass/mod/pic.scss */
.mod_pic,
.mod_picTil {
  background-color: #f8f8f8;
}
/* line 5, ../sass/mod/pic.scss */
.mod_pic a,
.mod_picTil a {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-height: 120px;
  margin: 0 auto;
}
/* line 15, ../sass/mod/pic.scss */
.mod_pic img,
.mod_picTil img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 23, ../sass/mod/pic.scss */
.mod_picTil h6 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 1, ../sass/mod/picTxt.scss */
.mod_picTxt {
  display: block;
  padding: 5px 10px;
  overflow: hidden;
  color: #333333;
}

/* line 8, ../sass/mod/picTxt.scss */
.mod_picTxt img {
  float: left;
  display: block;
  margin-right: 10px;
}

/* line 14, ../sass/mod/picTxt.scss */
.mod_picTxt_til {
  font-size: 16px;
  overflow: hidden;
}

/* line 19, ../sass/mod/picTxt.scss */
.mod_picTxt_desc {
  color: #666;
  line-height: 18px;
  height: 36px;
  margin-top: 2px;
  overflow: hidden;
  text-align: justify;
  font-size: 12px;
}

/* line 29, ../sass/mod/picTxt.scss */
.mod_picTxt_info {
  display: block;
  color: #7f7f7f;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  overflow: hidden;
}

/* line 38, ../sass/mod/picTxt.scss */
.mod_picTxt_info_date {
  float: left;
}

/* line 43, ../sass/mod/picTxt.scss */
.mod_picTxt_info_comment,
.mod_picTxt_info_read {
  float: right;
  margin-left: 8px;
  padding-left: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px auto;
}

/* line 52, ../sass/mod/picTxt.scss */
.mod_picTxt_info_comment {
  
}

/* line 56, ../sass/mod/picTxt.scss */
.mod_picTxt_info_read {
  
}

/* line 60, ../sass/mod/picTxt.scss */
.mod_picTxtList .mod_picTxt {
  border-bottom: 1px solid #f0f0f0;
}

/* line 64, ../sass/mod/picTxt.scss */
.mod_picTxtList .mod_picTxt:last-child {
  border-bottom: none;
}

/* line 2, ../sass/mod/columnPic.scss */
.mod_columnPic,
.mod_columnPicTil {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px;
  overflow: hidden
}
.mod_columnPic_inner,
.mod_columnPicTil_inner {
	padding-right: 10px;
}
/* line 12, ../sass/mod/columnPic.scss */
.mod_columnPic_item,
.mod_columnPicTil_item {
  float: left;
  width: 50%;
  text-align: center;
}
/* line 16, ../sass/mod/columnPic.scss */
.mod_columnPic_item a,
.mod_columnPicTil_item a {
  position: relative;
  display: block;
  padding: 10px 0 0 10px;
  margin: 0 auto;
}
/* line 24, ../sass/mod/columnPic.scss */
.mod_columnPic_item img,
.mod_columnPicTil_item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 32, ../sass/mod/columnPic.scss */
.mod_columnPicTil_item h6 {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 0;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 1, ../sass/mod/tab.scss */
.mod_tab_nav {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}
/* line 8, ../sass/mod/tab.scss */
.mod_tab_nav a {
  position: relative;
  display: table-cell;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  height: 39px;
  line-height: 39px;
  text-align: center;
  color: #7f7f7f;
}
/* line 20, ../sass/mod/tab.scss */
.mod_tab_nav .cur {
  color: #0fd7ba;
}
/* line 24, ../sass/mod/tab.scss */
.mod_tab_nav .cur:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid #0fd7ba;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

/* line 38, ../sass/mod/tab.scss */
.mod_tab_cont {
  margin: 10px 0;
}
/* line 40, ../sass/mod/tab.scss */
.mod_tab_cont .cur {
  display: block;
}

/* line 45, ../sass/mod/tab.scss */
.mod_tab_cont_panel {
  display: none;
}

/* line 1, ../sass/mod/slider1.scss */
.mod_slider1 {
  width: 100%;
  max-width: 400px;
  min-height: 176px;
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 14, ../sass/mod/slider1.scss */
.mod_slider1_box {
  position: relative;
  width: 2000%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 22, ../sass/mod/slider1.scss */
.mod_slider1_box li {
  float: left;
  width: 5%;
}
/* line 27, ../sass/mod/slider1.scss */
.mod_slider1_box a {
  position: relative;
  display: block;
  width: 100%;
}
/* line 33, ../sass/mod/slider1.scss */
.mod_slider1_box img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 39, ../sass/mod/slider1.scss */
.mod_slider1_box p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 54, ../sass/mod/slider1.scss */
.mod_slider1_box:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

/* line 61, ../sass/mod/slider1.scss */
.mod_slider1_pointer {
  position: absolute;
  bottom: 4px;
  right: 10px;
}
/* line 66, ../sass/mod/slider1.scss */
.mod_slider1_pointer i {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #eee;
}
/* line 74, ../sass/mod/slider1.scss */
.mod_slider1_pointer .cur {
  background: #aaa;
}

/* line 1, ../sass/mod/slider2.scss */
.mod_slider2 {
  width: 100%;
  max-width: 400px;
  min-height: 146px;
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

/* line 11, ../sass/mod/slider2.scss */
.mod_slider2_box {
  position: relative;
  width: 2000%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
/* line 18, ../sass/mod/slider2.scss */
.mod_slider2_box li {
  float: left;
  width: 5%;
}
/* line 23, ../sass/mod/slider2.scss */
.mod_slider2_box a {
  position: relative;
  display: block;
  width: 100%;
}
/* line 29, ../sass/mod/slider2.scss */
.mod_slider2_box img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 35, ../sass/mod/slider2.scss */
.mod_slider2_box p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 50, ../sass/mod/slider2.scss */
.mod_slider2_box:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

/* line 57, ../sass/mod/slider2.scss */
.mod_slider2_pointer {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 64, ../sass/mod/slider2.scss */
.mod_slider2_pointer i {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #eee;
}
/* line 72, ../sass/mod/slider2.scss */
.mod_slider2_pointer .cur {
  background: #aaa;
}

/* line 1, ../sass/mod/pageBtns.scss */
.mod_pageBtns {
  padding: 20px 0 10px;
  text-align: center;
}
/* line 5, ../sass/mod/pageBtns.scss */
.mod_pageBtns a,.mod_pageBtns span {
  display: inline-block;
  min-width: 16px;
  line-height: 28px;
  padding: 0 6px;
  margin: 0 2px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #8e8d8d;
}
/* line 16, ../sass/mod/pageBtns.scss */
.mod_pageBtns .cur {
  background-color: #0fd7ba;
  border: 1px solid #0fd7ba;
  color: #fff;
}

/* line 1, ../sass/mod/article.scss */
.mod_article {
  margin: 30px 10px 10px 10px;
}
/* line 4, ../sass/mod/article.scss */
.mod_article h1 {
  font-size: 23px;
}

/* line 9, ../sass/mod/article.scss */
.mod_article_info {
  display: block;
  color: #7f7f7f;
  font-size: 12px;
  line-height: 20px;
  padding: 16px 0;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
}

/* line 20, ../sass/mod/article.scss */
.mod_article_info_from {display: block;}
.mod_article_info_from a {color: #7f7f7f;}
.mod_article_info_date {
  float: left;
  margin-right: 10px;
}

/* line 25, ../sass/mod/article.scss */
.mod_article_info a[rel="tag"] {
  float: left;
  height: 20px;
  line-height: 20px;
  background-color: #dadada;
  margin-right: 4px;
  padding: 0 4px;
  font-size: 12px;
  color: #898989;
}

/* line 37, ../sass/mod/article.scss */
.mod_article_info_comment,
.mod_article_info_read {
  float: right;
  margin-left: 8px;
  padding-left: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px auto;
}

/* line 46, ../sass/mod/article.scss */
.mod_article_info_comment {
  
}

/* line 50, ../sass/mod/article.scss */
.mod_article_info_read {
  
}

/* line 56, ../sass/mod/article.scss */
.mod_article_content p {
  font-size: 16px;
  line-height: 26px;
  color: #585858;
  text-align: justify;
  margin: 20px 0;
}
/* line 64, ../sass/mod/article.scss */
.mod_article_content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* line 71, ../sass/mod/article.scss */
.mod_article_author {
  position: relative;
  padding: 10px;
  height: 50px;
  background-color: #f0f0f0;
  margin-top: 20px;
}
/* line 78, ../sass/mod/article.scss */
.mod_article_author img {
  float: left;
  margin-right: 10px;
}
/* line 83, ../sass/mod/article.scss */
.mod_article_author h4 {
  color: #0fd7ba;
  font-size: 16px;
  line-height: 24px;
}
/* line 89, ../sass/mod/article.scss */
.mod_article_author p {
  color: #606060;
  font-size: 12px;
}
/* line 94, ../sass/mod/article.scss */
.mod_article_author a {
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #3b9aff;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

/* line 105, ../sass/mod/article.scss */
.mod_article_author_email {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* line 111, ../sass/mod/article.scss */
.mod_article_share {
  font-size: 12px;
  padding: 20px 0;
  overflow: hidden;
}

/* line 117, ../sass/mod/article.scss */
.share_good {
  float: left;
  padding: 0 6px 0 26px;
  line-height: 26px;
  border: 1px solid #f0f0f0;
  
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: auto 13px;
  color: #0fd7ba;
}

/* line 130, ../sass/mod/article.scss */
.mod_article_share_blue,
.mod_article_share_red {
  float: right;
  line-height: 26px;
  padding: 0 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

/* line 139, ../sass/mod/article.scss */
.mod_article_share_blue {
  color: #409cff;
  border-color: #409cff;
}

/* line 144, ../sass/mod/article.scss */
.mod_article_share_red {
  color: #df4349;
  border-color: #df4349;
}
