/*移动端reset文件*/
html { font-family: "arial", "microsoft yahei", "\5b8b\4f53"; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { margin: 0; font-size: 1.4rem; line-height: 1.5; color: #333333; background-color: white; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
p{ display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}
   

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*布局文件*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}


/*初始化结束*/

.header{
  background: #0fd7ba;
  width: 100%;
  height: 6.0rem;

}

.header .logo{
    font-size: 1.4rem;
    line-height: 6.0rem;   
    color: #fff;
    text-align: center;
}

.header a.conts-tips {
    font-size: 1.4rem;
    line-height: 6.0rem;    
    color: #fff;
    font-weight: bold;
}

.header_nav{
  background-color: #111111;
  padding: 1.0rem;
}

.header_nav ul {
  overflow: hidden;
}

.header_nav li {
  float: left;
  width: 24.9%;
  text-align: center;
}
/* line 101, ../sass/header.scss */
.header_nav a {
  display: block;
  line-height: 2.9rem;
  color: #0fd7ba;
  font-size: 1.4rem;
}


.footer {
  background-color: #181818;
  color: #5e5e5e;
  text-align: center;
  font-size: 12px;
}



/*轮换图*/


.hot_pic {
  width: 100%;
  max-width: 400px;
  min-height: 176px;
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hot_pic img{
  display: block;
    width: 100%;
    height: auto;
}

.hot_pic .pic_slide_txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  height: 2.8rem;
  line-height: 2.8rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hot_news {
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
  line-height: 3.4rem;
  font-size: 1.6rem;
  font-weight: 700;

}

.conts-tips{
  background: #0fd7ba;
    height: 1.1rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
    color: #fff;
    padding: 0.4rem .6rem;
    margin: 0.5rem 0 0 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-flex: 0;
}
/*模块头部*/
.mod_header {
    height: 3.7rem;
    line-height: 3.7rem;
    border-bottom: 1px solid #f0f0f0;
  }


.mod_tit {
    float: left;
    position: relative;
    height: 38px;
    padding: 0 10px;
    margin-bottom: -1px;
    font-size: 14px;
    color: #fff;
    background-color: #0fd7ba;
}

.mod_tit:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border-top: 38px solid #0fd7ba;
  border-right: 26px solid transparent;
}
  /*头部更多*/

  .mod_header_more {
    float:right;
    margin-right: 10px;
    padding-right: 24px;    
    background-size: 14px 14px;    
    background-position: right 11px;
    color: #999999;
}

/*新闻列表*/
.mod_txtlist li {
  height: 3.8rem;
  line-height: 3.8rem;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}
/* line 9, ../sass/mod/txtList.scss */
.mod_txtlist li:last-child {
  margin-bottom: -1px;
}


.mod_txtlist a {
    height: 3rem;
    padding: 0 1.0rem 0 1.0rem;  
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-flex: 1;
    line-height: 1.8rem;
    font-size: 1.6rem;
    color: #545758;
}

/*列表带缩略图+标题，日期*/

.mod_picTxt {
    display: block;
    padding: 5px 10px;
    overflow: hidden;
    color: #333333;
}
.mod_picTxt img {
    float: left;
    display: block;
    margin-right: 10px;
    width: 120px;
    height: 80px;
}

.mod_picTxt_til {
    font-size: 16px;
    overflow: hidden;
    height: 60px;
}

.mod_picTxt .list_time{
float: right; 
color: #7f7f7f;
font-size: 12px;

}

/*双横排图片效果*/
.mod_columnPic,
.mod_columnPicTil {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px;
  overflow: hidden
}
.mod_columnPic_inner,
.mod_columnPicTil_inner {
  padding-right: 10px;
}
/* line 12, ../sass/mod/columnPic.scss */
.mod_columnPic_item,
.mod_columnPicTil_item {
  float: left;
  width: 50%;
  text-align: center;
}
/* line 16, ../sass/mod/columnPic.scss */
.mod_columnPic_item a,
.mod_columnPicTil_item a {
  position: relative;
  display: block;
  padding: 10px 0 0 10px;
  margin: 0 auto;
}
/* line 24, ../sass/mod/columnPic.scss */
.mod_columnPic_item img,
.mod_columnPicTil_item img {
  display: block;
  width: 100%;
  height: auto;
}