/*移动端reset文件*/
html { font-family: "arial", "microsoft yahei", "\5b8b\4f53"; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { margin: 0; font-size: 1.4rem; line-height: 1.5; color: #333333; background-color: white; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
p{ display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}
   



/*布局文件*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}


/*初始化结束*/

.header{
  background: #0fd7ba;
  width: 100%;
  height: 6.0rem;

}

.header .logo{
    font-size: 1.4rem;
    line-height: 6.0rem;   
    color: #fff;
    text-align: center;
}

.header a.conts-tips {
    font-size: 1.4rem;
    line-height: 6.0rem;    
    color: #fff;
    font-weight: bold;
}

.header_nav{
  background-color: #111111;
  padding: 1.0rem;
}

.header_nav ul {
  overflow: hidden;
}

.header_nav li {
  float: left;
  width: 24.9%;
  text-align: center;
}
/* line 101, ../sass/header.scss */
.header_nav a {
  display: block;
  line-height: 2.9rem;
  color: #0fd7ba;
  font-size: 1.4rem;
}


.footer {
  background-color: #181818;
  color: #5e5e5e;
  text-align: center;
  font-size: 12px;
}



/*轮换图*/


.hot_pic {
  width: 100%;
  max-width: 400px;
  min-height: 176px;
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hot_pic img{
  display: block;
    width: 100%;
    height: auto;
}

.hot_pic .pic_slide_txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  height: 2.8rem;
  line-height: 2.8rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hot_news {
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
  line-height: 3.4rem;
  font-size: 1.6rem;
  font-weight: 700;

}

.conts-tips{
  background: #0fd7ba;
    height: 1.1rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
    color: #fff;
    padding: 0.4rem .6rem;
    margin: 0.5rem 0 0 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-flex: 0;
}
/*模块头部*/
.mod_header {
    height: 3.7rem;
    line-height: 3.7rem;
    border-bottom: 1px solid #f0f0f0;
  }


.mod_tit {
    float: left;
    position: relative;
    height: 38px;
    padding: 0 10px;
    margin-bottom: -1px;
    font-size: 14px;
    color: #fff;
    background-color: #0fd7ba;
}

.mod_tit:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border-top: 38px solid #0fd7ba;
  border-right: 26px solid transparent;
}
  /*头部更多*/

  .mod_header_more {
    float:right;
    margin-right: 10px;
    padding-right: 24px;    
    background-size: 14px 14px;    
    background-position: right 11px;
    color: #999999;
}

/*新闻列表*/
.mod_txtlist li {
  height: 3.8rem;
  line-height: 3.8rem;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}
/* line 9, ../sass/mod/txtList.scss */
.mod_txtlist li:last-child {
  margin-bottom: -1px;
}


.mod_txtlist a {
    height: 3rem;
    padding: 0 1.0rem 0 1.0rem;  
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-flex: 1;
    line-height: 1.8rem;
    font-size: 1.6rem;
    color: #545758;
}

/*列表带缩略图+标题，日期*/

.mod_picTxt {
    display: block;
    padding: 5px 10px;
    overflow: hidden;
    color: #333333;
}
.mod_picTxt img {
    float: left;
    display: block;
    margin-right: 10px;
    width: 120px;
    height: 80px;
}

.mod_picTxt_til {
    font-size: 16px;
    overflow: hidden;
    height: 60px;
}

.mod_picTxt .list_time{
float: right; 
color: #7f7f7f;
font-size: 12px;

}

/*双横排图片效果*/
.mod_columnPic,
.mod_columnPicTil {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px;
  overflow: hidden
}
.mod_columnPic_inner,
.mod_columnPicTil_inner {
  padding-right: 10px;
}
/* line 12, ../sass/mod/columnPic.scss */
.mod_columnPic_item,
.mod_columnPicTil_item {
  float: left;
  width: 50%;
  text-align: center;
}
/* line 16, ../sass/mod/columnPic.scss */
.mod_columnPic_item a,
.mod_columnPicTil_item a {
  position: relative;
  display: block;
  padding: 10px 0 0 10px;
  margin: 0 auto;
}
/* line 24, ../sass/mod/columnPic.scss */
.mod_columnPic_item img,
.mod_columnPicTil_item img {
  display: block;
  width: 100%;
  height: auto;
}

/*内容页面*/
/*中间标题*/
.h-title {
    width: 100%;
    height: 6.0rem;
    line-height: 6.0rem;
    font-size: .48rem;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
}

/*返回键*/

.h-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.3333333333rem;
    height: 1.3333333333rem
}
.h-back .h-back-svg {
    position: absolute;
    top: .36rem;
    left: .24rem;
    width: .2666666667rem;
    height: .4933333333rem;
    background: url(../img/back.png?t=1470802600460) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
/*文章区块*/
.mod_article {
    margin: 3.0rem 1.0rem 1.0rem 1.0rem;
}

/*文章标题*/

.mod_article h1 {
    font-size: 2.3rem;
}


/*文章日期，作者 模块*/
.mod_article_info {
  display: block;
  color: #7f7f7f;
  font-size: 1.2rem;
  line-height: 2.0rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
}

.mod_article_info_from {display: block;}
.mod_article_info_from a {color: #7f7f7f;}
.mod_article_info_date {
  float: left;
  margin-right: 10px;
}

/*tag标签模块*/
.mod_article_info a[rel="tag"] {
  float: left;
  height: 2.0rem;
  line-height: 2.0rem;
  background-color: #dadada;
  margin-right: 4px;
  padding: 0 4px;
  font-size: 12px;
  color: #898989;
}

/* line 37, ../sass/mod/article.scss */
.mod_article_info_comment,
.mod_article_info_read {
  float: right;
  margin-left: 0.8rem;
  padding-left: 1.4rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1.2rem auto;
}

/* line 46, ../sass/mod/article.scss */
.mod_article_info_comment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAASCAYAAACw50UTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZVJREFUeNqslF9EQ1Ecx+9uExGxp54iYkTEEuslYik9lRg99DT1stdGSlsUkd56ylIkGjEmGrHXiMhixIiIiNjTuKQ+P36X07XNbduXj3PPued8f7/zN5BOpy1D/ZCEBZiEXsufHuEODjKZTM1tDBjm03AFg/CsAxyf5uMQgQ9IEKAojUH9KT9u4R0m1NiXMHLLEYqs+PC9BHmbSg+cwSdM/cfYE6RKMavjs9RDYj4HY7CpAdoWhrKMCQjBmpjHoA55qwsiwBNFBWbEfAjeNICpGygbdZndD6wYbZeYlRvEeBHfoJ6IvgYdijo9V19wAlWjraRGXsmRdsRcphGHYXg1Ohx7BshJWve0nbqnxVgWSTQK17IsOc3+yOqOkpr5ha3ZSpaLsNPhZi5T7EGB75J7iVIQhl3ZZdjX9fz2aRrVjGWzH2DVe/1FG7AFA20k7ugKbBOsbl5/V4faIaZvTKSFWVyTqOibksL0z+0ONhgkUQs+Mj3X92hUCXufDruD/buHeag162B3eOxaBrC78JY0DfArwADR0XHugJBNrgAAAABJRU5ErkJggg==");
}

/* line 50, ../sass/mod/article.scss */
.mod_article_info_read {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAPCAYAAAD+pA/bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgZJREFUeNp8lF9EQ1Ecx29tokT0FMuIKCVKiVJKiYhSIkqRUkzpoZdSbD01RaIsPUSkNNI0pYgUMVKKSFmkNMWIERHR98f3cpzOOnzc3XvO+X7P789Zitfrtf4ZzaAGuEAJyAMO8AjuQAxEfD5fOJlAisEgHfSCMVAEvsAFeNDW5YMqrhfDZbAGs091Uaq2qRI8g1UK94AMUA+GNRo51wHiYBG8wqAhmYGk45SLZXMF2OJcAdil+RvYZ8osCIZANX7WMpJDvHfqBq1gDxxR+EQxbgLXoA4cgzAjvQRd9iKInuMhRkGwjfdeuwbZeEaZ5zbwrYhngnvwwaji/J4lJ2VkxRB7V4ykCbaZkUKJYICd0aeJy2hhB40q4jISwAPkcJ3qBhj84DEIpNgjYtAN1jUBe7j4vDHMyTcRc+sTMEmwq7rE4JbhpBlEYnyWGuZKGPmLwcBBzTsxWOAFWjKIHNBkkXlXaxNgbXYM+2Z4Qf2pDHUaDHGTQ1koeexnMaO8HwEWXjrJoxaYpxfxKRGXznLy+zwLF2Do4+wqi61ZBmZZdDnAFZhkem1hSeMc23oS737TX4Xch02m4IzGB9b/Q27uBIXl9g9DfMOedGqL5RLlsnXHeGMlTRHwxK75YUO4+V8ktXlnmlcg/qEKOg0nSrDwQjtPVs7ocrgmzu4JMoUh9v+f8SvAAM3InAC8QNeWAAAAAElFTkSuQmCC");
}

/* line 56, ../sass/mod/article.scss */
/*文章内容*/
.mod_article_content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #585858;
  text-align: justify;
  margin: 2.0rem 0;
}
/* line 64, ../sass/mod/article.scss */
.mod_article_content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}



/* line 111, ../sass/mod/article.scss */
.mod_article_share {
  font-size: 12px;
  padding: 20px 0;
  overflow: hidden;
}

/* line 117, ../sass/mod/article.scss */
.share_good {
  float: left;
  padding: 0 6px 0 26px;
  line-height: 26px;
  border: 1px solid #f0f0f0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAaCAYAAABctMd+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATdJREFUeNpi5L++i4EEIAfEv4D4BTGKmUgwOBCIHwLxEyCuoLbhBlCaGYjbgdiYmoYrovFdqWm4GRr/L7UM9wZidTSxm4Q0MRKRWjiB+BIQq6AZrAdNORS5fCaawd+BOJSQwcQYngDEsWhiE4H4MqVJ0QnqagZSwxoGWHCI8wPxaiBmwyI3DUrjcj0o2K7hi9DDQGzDQD4AGe4GMhyUGkqhgt1Q135goByUgYIlHIgboQLvgHgxA3XAWSZoOoYBHioYCgrzdCDex8JAfcAJjfQLTAy0AaCS04ZWhn8B4q20MPwgEJuAMhstDLcH4nxSy3NSgAStDH8ExK20MByU7QtAGQib4X8pNFwLiOdDkyK4VNyNVMJtglYCf2EKyAAfYY4EGX4HWmUhg0QgTkMrGogNlm4YByDAANgyO3BZRFuHAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: auto 13px;
  color: #0fd7ba;
}

/* line 130, ../sass/mod/article.scss */
.mod_article_share_blue,
.mod_article_share_red {
  float: right;
  line-height: 26px;
  padding: 0 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

/* line 139, ../sass/mod/article.scss */
.mod_article_share_blue {
  color: #409cff;
  border-color: #409cff;
}

/* line 144, ../sass/mod/article.scss */
.mod_article_share_red {
  color: #df4349;
  border-color: #df4349;
}


/*
相关资讯*/
/* line 59, ../sass/mod/header.scss */
.mod_headerKid_title {
  color: #0fd7ba;
  padding-left: 0.6rem;
  border-left: 3px solid #0fd7ba;
}

.mod_headerKid {
  height: 1.7rem;
  line-height: 1.7rem;
  border-bottom: 1px solid #f0f0f0;
  padding: 1.0rem;
  overflow: hidden;
}


#aside .mod-tab-hd {
    overflow: hidden;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    background: #39B898;
}